/* Contact Bar */
.contact-bar {
  background-color: #3838AA;
  padding: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-info {
  display: flex;
  align-items: center;
  color: white;
}

.phone-icon {
  margin-right: 6px;
  font-size: 12px;
}

.phone-number {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-right: 85px;
}

/* Navigation Header */
.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  background-color: white;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.company-logo {
  object-fit: contain;
  width: 63px;
  aspect-ratio: 1 / 1;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 20px;
}

/* Burger Button */
.burger-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #3838AA;
}

/* Nav Container */
.nav-container {
  display: flex;
  justify-content: center; /* Center the nav list */
  align-items: center;
  padding: 0 16px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

.nav-container.show-menu {
  display: block;
  position: absolute;
  top: 60px; /* Adjust according to your layout */
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  transition: all 0.3s ease;
}

/* Navigation List */
.nav-list {
  display: flex;
  gap: 45px;
  align-items: center;
}

.nav-link {
  color: #3838AA;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #C9B085;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    text-align: center;
  }

  .nav-container.show-menu .nav-list {
    display: flex;
  }

  .burger-button {
    display:flex;;
    justify-content: left;
    background-color: white;
    padding: 10px;
    margin-left: 50%;
  }
  .logo-container {
    display: flex;
    justify-content: flex-start; /* Force the logo to the left */
  }
  .nav-header{
    display: space-between;
  }
 
}

@media (min-width: 769px) {
  .burger-button {
    display: none;
  }
  
  .nav-list {
    display: flex;
    justify-content: center;
    margin-left: 0;
    align-items: center;
  }
}
