/* Contact Bar */
.contact-bar {
  background-color: #3838AA;
  padding: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-info {
  display: flex;
  align-items: center;
  color: white;
}

.phone-icon {
  margin-right: 6px;
  font-size: 12px;
}

.phone-number {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-right: 85px;
}

/* Navigation Header */
.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  background-color: white;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.company-logo {
  object-fit: contain;
  width: 63px;
  aspect-ratio: 1 / 1;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 20px;
}

/* Burger Button */
.burger-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #3838AA;
}

/* Nav Container */
.nav-container {
  display: flex;
  justify-content: center; /* Center the nav list */
  align-items: center;
  padding: 0 16px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

.nav-container.show-menu {
  display: block;
  position: absolute;
  top: 60px; /* Adjust according to your layout */
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  transition: all 0.3s ease;
}

/* Navigation List */
.nav-list {
  display: flex;
  gap: 45px;
  align-items: center;
}

.nav-link {
  color: #3838AA;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #C9B085;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px; 
    background-color: white;
    width: 100%; 
    box-sizing: border-box;
  }

  .logo-container {
    display: flex;
    justify-content: flex-start; /* Keeps the logo aligned to the left */
    align-items: center;
  }

  .burger-button {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #3838AA;
    padding: 10px;
    margin-left: 70%;
  }

  .nav-list {
    display: none; /* Hides the nav-list until the burger button is clicked */
  }

  .nav-container.show-menu .nav-list {
    display: flex; /* Shows the nav-list when the burger button is clicked */
    flex-direction: column;
    gap: 20px;
    background-color: white; /* Optional: Ensures the background is white when the menu expands */
    position: absolute;
    top: 60px; /* Adjust based on the height of the header */
    left: 0;
    right: 0;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for better visibility */
  }
}


@media (min-width: 769px) {
  .burger-button {
    display: none;
  }
  
  .nav-list {
    display: flex;
    justify-content: center;
    margin-left: 0;
    align-items: center;
  }
}
