/* Contact Bar */
.contact-bar {
  background-color: #3838AA;
  padding: 5px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-info {
  display: flex;
  align-items: center;
  color: white;
}

.phone-icon {
  margin-right: 6px;
  font-size: 12px;
}

.phone-number {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

/* Header */
.header-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.company-logo {
  object-fit: contain;
  width: 60px;
  aspect-ratio: 1 / 1;
}

/* Sidebar for Mobile */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 250px;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 1.5s ease; /* Make sidebar slide slower */
  z-index: 1000;
}

.sidebar.show-sidebar {
  left: 0;
}

.sidebar-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-link {
  color: #3838AA;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.sidebar-link:hover {
  color: #ff0000;
}

/* Background overlay for mobile when the sidebar is open */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (min-width: 769px) {
  .sidebar-button {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .sidebar {
    display: none;
  }
}

/* Desktop Navigation Menu */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: height 0.5s ease; /* Slow transition for height */
}

.nav-header .minimized {
  height: 40px;
  img {
    height: 45px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}


/* Centering the Nav List */
.nav-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link {
  color: #3838AA;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

.nav-link:hover {
  color: #ff0000;
}

@media (min-width: 769px) {
  .sidebar-button {
    display: none;
  }

  .nav-list {
    display: flex;
    width: max-content;
  }
}

/* Transition styles */
.expand-enter-active, .expand-leave-active {
  transition: height 1.5s ease; /* Slower transition for enter and leave */
}

.expand-enter, .expand-leave-to {
  height: 40px;
  overflow: hidden;
}

.nav-link.active,
.sidebar-link.active {
  color: #ff0000;
}