/* Prevoyance Hero Section */
.prevoyance-hero {
  font-family: Inter, sans-serif;
  font-weight: 600;
  overflow: hidden;
}

.prevoyance-hero-container {
  width: 100%;
}

.prevoyance-content-wrapper {
  width: 100%;
}

.prevoyance-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  margin-bottom: 20px;
  margin-right: 6%;
  margin-left:6%;
}

.text-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px; /* Space between text and image */
}

.description-text {
  max-width: 50%; /* Adjust width as needed */
  font-size: 17px;
}

.description-image {
  max-width: 75%;
  height: auto;
  margin-left: 30%;
}

.cta-button {
  margin-top: 20px;
  background-color: #9b2515;
  color: #f2e4e2;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left:30%;
}

.prevoyance-hero-content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 595px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 52px 80px;
}

.prevoyance-hero-background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 100%;
}

.transparent-bg {
  background-color: rgba(255, 255, 255, 0.35);
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  max-width: 860px;
  box-sizing: border-box;
  margin: 0 auto;
}

.prevoyance-text-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 662px;
  margin-top: 100px;
  padding: 20px;
}

.prevoyance-title {
  color: #c9b085;
  font-size: 13px;
}

.prevoyance-subtitle {
  color: white;
  font-size: 17px;
  margin-top: 16px;
}

.title-keys{
  color:#00008F;
  font-size: 37px;
  margin-top: 56px;
  text-align: center;
  margin-bottom: 50px;
}
.tit{
  color: #c9b085;
  text-align: center;
}

.prevoyance-main-heading {
  color: white;
  font-size: 40px;
  text-align: center;
  width: 100%;
  margin-top: 17px;
}

.prevoyance-insurance-icon {
  width: 56px;
  margin: 0 auto 10px;
  display: block;
}

.prevoyance-description {
  color: #FFF;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.prevoyance-cta-button {
  background: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.prevoyance-button-text {
  background-color: #9b2515;
  color: #e1c1bc;
  font-size: 12px;
  padding: 15px 30px;
  border-radius: 5px;
  display: block;
}

.columns-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  flex: 1;
  padding: 15px;
  border-left: 1px solid #ddd;
  border-right: 0px solid #ddd;
}

.list-items {
  list-style-type: circle;
  padding-left: 20px;
}

.list-items li {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .offering-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
}

/* Responsive Styles */
@media (max-width: 991px) {
  .prevoyance-hero-content {
    padding: 0 20px;
  }

  .prevoyance-subtitle {
    font-size: 20px;
  }

  .prevoyance-main-heading {
    font-size: 32px;
  }

  .prevoyance-description {
    font-size: 16px;
  }

  .prevoyance-button-text {
    padding: 15px;
  }

  .transparent-bg {
    width: 90%;
    padding: 20px;
  }
}

.offering-cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.offering-card {
  text-align: center;
  width: 100%;
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  .offering-card {
    text-align: center;
    width: 80%;
    transition: all 0.3s ease;
  }
}
.offering-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.offering-title {
  font-size: 18px;
  font-weight: bold;
  color: #3838AA;
  margin-top: 10px;
}

.offering-description {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.view-more-button {
  background-color: #e0e4e8;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 10px;
  padding: 8px 12px;
  width: 100%;
}

.view-more-button:hover {
  background-color: #c43126;
  color: aliceblue;
}

.offering-more-info {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.offering-card .offering-more-info {
  opacity: 1;
}

@media (max-width: 768px) {
  .prevoyance-main-heading {
    font-size: 28px;
  }

  .prevoyance-description {
    font-size: 14px;
  }

  .prevoyance-hero-content {
    padding: 20px;
  }

  .transparent-bg {
    width: 100%;
    padding: 15px;
  }
  .columns-container {
    flex-direction: column;
    align-items: center;
  }

  .column {
    border: 1px solid;
    width: 100%;
    text-align: center;
  }
  .list-items {
    list-style-type: disc;
    padding-left: 20px;
  }
  .text-image-container {
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center align items */
  }

  .description-text {
    max-width: 100%;
  }
  .description-image{
    max-width: 100%;
    margin-left: 0px;
  }

  .cta-button {
    width: 100%; /* Full width button on smaller screens */
    max-width: 300px; /* Optional: limit button width */
    margin-left: 0px;
  }
}